.App {
  text-align: center;
  background-color: #009AD4;
  height: 80px;
  color: azure;
}

h1{
  padding-top: 17px;
  font-family: 'Roboto','Montserrat';
}

.logo{
  margin:100px;
}

p{
  color:black;
  font-size: x-large;
  font-family: 'Roboto','Montserrat';
}

@media only screen and (max-width: 450px) {
  .App {
    text-align: center;
    background-color: #009AD4;
    height: 80px;
    width: 100%;
    color: white;
  }
  h1{
    padding-top: 17px;
    font-family: 'Roboto','Montserrat';
  }
  
  .logo {
    margin:100px;
  }
 
  p {
    color: black;
    font-size: x-large;
    font-family: 'Roboto','Montserrat';
    
  }

}